<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap-5.3.2-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    {% if title %}
	<title>{{ title }} - IGS Attendance System</title>
	{% else %}
	<title>IGS Attendance System</title>
	{% endif %}
</head>
<body>
    {% include "components/header.html" %}
    {% include "components/navigation.html" %}
    <div class="container main--content">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock content %}
        {% include "components/footer.html" %}
    </div>
</body>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
<script src="{{ url_for('static', filename='/script.js') }}"></script>
<script src="{{ url_for('static', filename='/bootstrap-5.3.2-dist/js/bootstrap.min.js') }}"></script>
</html>